<footer>
    <p style="margin: 0">Samrat Ashok Technological Institute</p>
    <p style="margin: 0"> Civil Lines, Vidisha, Madhya Pradesh 464001, India<a href="http://www.satiengg.in/" target="_blank"></a></p>
    <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=RecentCommitsToSaticsegithubiomaster', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="RecentCommitsToSaticsegithubiomaster" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
</footer>
